# Use this .env file for production
CONTAINER_NAME=led_on

SRC_PATH_HOST=${PWD}/led_on
BUILD_PATH_HOST=${PWD}/build

SRC_PATH_TARGET=/usr/src/led_on
BUILD_PATH_TARGET=/usr/src/build

# Can specify custom UID:GID
# USERID=1000
# GROUPID=1000
